p#pogrubienie_freda
{
font-size: 33px;
color: #8453BC;
}

p#pochylona_freda
{
font-size: 38pt;
color: #E8B767
}

p#index_gorny_freda
{
font-size: 1,3cm;
color: #988517;
}

p#index_dolny_freda
{
font-size: 2,1cm;
color: rgb(20%,92%,87%);
}

p#mono_freda
{
font-size: 42px;
color: #18D567;
}

p#powiekszenie_freda
{
color: #523599;
}

p#pomniejszenie_freda
{
color: rgb(71%,60%,21%);
}
